body {
    font-family: Arial,  sans-serif;
    font-size: 25px; /* Размер основного шрифта в <p></p>  */
    background-color: #5988FF; /* Цвет фона веб-страницы */
    color: #FD98FB; /* Цвет основного текста */
    
}

h1 {
    color: #D6FF6B; /* Цвет заголовка */
    font-size: 25px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}

h2 {
    text-decoration-color: #FFFFFF; /* Цвет заголовка */
    font-size: 25px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
